# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
ENV/
env/

# IDE files
.vscode/
.idea/

# OS specific files
.DS_Store
Thumbs.db

# Environments & secrets (important: never commit passwords!)
.env
*.env.local

# FAISS local temporary saves
*.index
